# Codeowners file created using PCO for project at "C:\TestRepos\Project-Codebase-Overview"
# Created 01/12/2022
#
# This file should keep the name as purely "CODEOWNERS".
# Place this file in the repository root directory or in the repositories .github/ or .gitlab/ folder.
#
# View the documentation for more information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# ______ Codeowners start ______

/"Project Codebase Overview"/ frederikkoefoeds@gmail.com

/Project Codebase Overview/SettingsPage.xaml jacob1211@hotmail.com

/Project Codebase Overview/TestDocs/ frederikkoefoeds@gmail.com

/Project Codebase Overview/TestDocs/TextFile1.txt jacob1211@hotmail.com

/Project Codebase Overview/Assets/ jacob1211@hotmail.com

/Project Codebase Overview/ChangeHistoryFolder/ jacob1211@hotmail.com

/Project Codebase Overview/MainWindow.xaml frederikkoefoeds@gmail.com

/Project Codebase Overview/MainWindow.xaml.cs frederikkoefoeds@gmail.com

/Project Codebase Overview/ManagementPage.xaml jacob1211@hotmail.com

/README.md jacob1211@hotmail.com

/.gitattributes frederikkoefoeds@gmail.com

# ______ Codeowners end ______
