# Codeowners file created using PCO for project at "C:\TestRepos\Project-Codebase-Overview"
# Created 01/12/2022
#
# This file should keep the name as purely "CODEOWNERS".
# Place this file in the repository root directory or in the repositories .github/ or .gitlab/ folder.
#
# View the documentation for more information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# ______ Codeowners start ______

/Project\ Codebase\ Overview/TestDocs/ s195463@student.dtu.dk

/Project\ Codebase\ Overview/TestDocs/TextFile1.txt jacob1211@hotmail.com

# ______ Codeowners end ______
